@import "tailwindcss";

@theme {
  --color-brand-primary: #6366f1;
  --radius-ui: 1.5rem;
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

.glass-effects * {
  transition: backdrop-filter 0.5s ease;
}

/* Custom Element Styling */
input[type="range"]::-webkit-slider-thumb {
  background: var(--color-brand-primary);
}